#lessons-div {
    background-color: rgb(242, 242, 242);
    height: auto;
    text-align: center;
}

.lessons-col {
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    width: 45%;
    display: inline-block;
    margin: auto;
    vertical-align: top;
    background-color: white;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.lessons-col-title {
    font-size: 48px;
    font-weight: 700;
}

.lesson {
    cursor: pointer;
    border-radius: 10px;
    color: white;
    width: 80%;
    height: auto;
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.lesson:hover {
    transform: scale(1.025);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lesson-header {
    border-radius: 10px;
    background-color: #003ba2;
    padding: 20px 20px;
}

.lesson-info {
    display: none;
    text-align: left;
    padding: 20px 30px;
    color: rgb(10, 37, 64);
    background-color: rgb(242, 242, 242);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lesson-link {
    font-size: 28px;
    font-weight: 500;
    color: rgb(97, 126, 190);
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.2s;
}

.lesson-link:hover {
    background-color: rgb(97, 126, 190);
    color: white;
    text-decoration: none;
}