#lesson-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: montserrat;
  font-size: 30px;
  font-weight: normal;
  margin-bottom:50px;
}

#lesson-categories-container button {
  width: auto;
}

.lesson-category {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  width:90%;
  background-color: rgba(236, 236, 236, 0);
  padding: 20px;
  border-radius: 6px;
}

.lesson-section-header {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight:normal;
  color: #ececec;
}

.lesson-option > img {
  overflow: hidden;
}

.lesson-option {
  margin: 10px;
  height: 50px;
  width: auto;
  background-size: cover;
  outline-style: none;
  box-shadow: none;
  font-size: 20px;
  font-family: montserrat;
  cursor: pointer;
  border: solid;
  border-width: medium;
  border-color: #ececec;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 6px;
  background-color: rgba(236, 236, 236, 0.1);
  color: #ececec;
  transition-timing-function: ease-out;
  transition: background-color .1s;
}

.lesson-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.lesson-option:hover {
  background-color: rgba(236, 236, 236, 0.5);
}

#test-category {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width:100%;
}
