@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
  --c1: rgba(236, 236, 255, 0.7);
  --c2: rgba(0, 37, 102, 1);
}


html {
  scroll-behavior: smooth;
}

a:visited {
  color: var(--c1);
}

a:link {
  color: var(--c1);
}

.current > .menu-button {
  /* text-decoration: underline #022566 solid; */
  border-bottom: 3px solid #022566;
}

body {
  flex-direction: column;
  background-image: url("/imgs/controller.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Montserrat',sans-serif;
  /* color: #eef655; */
  color: var(--c1);
  letter-spacing: 2px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.29);
  z-index: 1000;
}

#GDCLogo {
  width: 156px;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-nav-items {
  display: flex;
  /* flex-direction: row; */
  list-style: none;

}

.menu-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--c2);
  padding: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  transition: all .1s linear 0s;
  outline-style: none;
}

.menu-button:hover {
  font-weight: 700;
}

#GDCButton {
  padding: 18px;
}

@media only screen and (max-width: 600px) {
  .menu-button {
    padding: 10px;
    font-size: 12px;
    letter-spacing: 0px;
  }

  #GDCLogo {
    width: 40px;
  }
  #GDCButton {
    padding: 10px;
  }
}



#intro-div {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#big-text-holder {
  display:flex;
  align-items: center;
  justify-content: space-around;
  width:80%;
  letter-spacing: 1vw;
  text-align: justify;
  font-size: 30px;
}

.big-info-box {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 95%;
}

.info-box {
  /* background-color: var(--c1); */
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  border-radius: 6px;
  margin: 20px;
}

.info-box-text > h2 {
  font-size: 40px;
  font-weight:normal;
  margin-bottom: 50px;
}

.info-box-text {
  color: var(--c1);
  margin: 30px;
  line-height: 30pt;
}

.page-header {
   margin-top: 150px;
   margin-bottom: 60px;
}

@media only screen and (max-width: 1000px) {
  .big-info-box {
    flex-direction: column;
  }
}
