:root {

}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {
  scroll-behavior: smooth;
}

a:visited {
  color:#ececec;
}

a:link {
  color:#ececec;
}

.current > .menu-button {
  /* text-decoration: underline #022566 solid; */
  border-bottom: 3px solid #022566;
}

body {
  flex-direction: column;
  background-color: #002566;
  font-family: 'Montserrat',sans-serif;
  /* color: #eef655; */
  color: #ececec;
  letter-spacing: 2px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.29);
  z-index: 1000;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-nav-items {
  display: flex;
  /* flex-direction: row; */
  list-style: none;

}

.menu-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #002566;
  padding: 30px;
  letter-spacing: 2px;
  transition: font-weight .1s ease-out 0s;
  outline-style: none;
}

.menu-button:hover {
  font-weight: 700;
}

#intro-div {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#big-text-holder {
  display:flex;
  align-items: center;
  justify-content: space-around;
  width:80%;
  letter-spacing: 1vw;
  text-align: justify;
  font-size: 30px;
}


.info-box {
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  width:90%;
  align-items: center;
  border-radius: 6px;
  margin: 20px;
}

.info-box-text > h2 {
  font-size: 40px;
  font-weight:normal;
  margin-bottom: 50px;
}

.info-box-text {
  color:black;
  margin: 10%;
  line-height: 30pt;
}

.page-header {
   margin-top: 150px;
   margin-bottom: 60px;
}
