#team-div {
    background-color: rgb(255, 255, 255);
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.officer-div {
    border-radius: 10px;
    color: white;
    width: clamp(300px, 35%, 10000px);
    margin: 3%;
    font-family: 'Noto Sans JP', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.officer-text {
    font-weight: 600;
    font-size: 1vw;
    display: block;
    text-align: left;
    white-space: nowrap;
    padding: 20px;
    padding-top: 4vw;
}

.officer-div:hover {
    transform: scale(1.025);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.officer-desc {
    overflow: hidden;
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.officer-div:hover .officer-header .officer-desc {
    width: 40%;
}

.officer-flex {
    display: flex;
    justify-content: center;
    transition: all 2s ease-in-out;
}

.officer-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #003ba2;
    font-family: 'Montserrat', sans-serif;
    padding: 2vw;
    height: 27vw;
}

.officer-img {
    width: 17vw;
    border-radius: 200px;
    transition: all 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.officer-img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.officer-name {
    font-weight: 700;
    font-size: 2.5vw;
}

.officer-info {
    text-align: center;
    padding: 20px 30px;
    color: rgb(10, 37, 64);
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.officer-info>h1 {
    font-size: 2vw;
}

#hof-div {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#hof-div>h1 {
    font-size: 5vw;
    font-weight: 600;
}

#hof-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.famer {
    background-color: rgb(255, 255, 255);
    padding: 2vw;
    width: 30%;
}

.hof-img {
    width: 17vw;
    border-radius: 20vw;
    transition: all 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.hof-img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.famer>h2 {
    margin-top: 2vw;
    font-size: 2.5vw;
    font-weight: 600;
    color: rgb(0, 59, 162);
}

.famer>h3 {
    font-size: 2vw;
    font-weight: 500;
}


.image-slider-container {
    height: 17vw;
    width: 17vw;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.image-slider-image {
    box-sizing: border-box;
    position: absolute;
    height: 17vw;
    width: 17vw;
    overflow: hidden;
    margin: 0 auto;
}

.image-slider-image img {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.image-slider-image h2 {
    overflow: hidden;
    text-wrap: nowrap;
}

.image-slider {
    box-sizing: border-box;
    position: absolute;
    background-color: #2196F3;
    z-index: 9;
    cursor: ew-resize;
    width: 4vw;
    height: 4vw;
    opacity: 0.7;
    border-radius: 50%;
}


@media screen and (max-width: 1240px) {
    .officer-header {
        height: 28vw;
    }
}

@media screen and (max-width: 1000px) {
    .officer-header {
        height: 30vw;
    }

    .officer-img {
        width: 20vw;
    }
}

@media screen and (max-width: 700px) {
    .officer-header {
        height: 34vw;
    }

    .officer-info {
        padding: 2vw 30px;
    }

    .officer-text {
        font-size: 1.6vw;
    }
}